<div class="top-nav", id="navbar">
    <link rel="stylesheet" href="/css/index.css"/>
    <nav>
        <ul> <!-- to add an unordered list-->
            <li><a href="#about-me">About me</a></li> <!-- to add list item-->
            <li><a href="#contacts">Skills</a></li>
            <li><a href="#projects">Work</a></li>
            <li><a href="#contacts">Projects</a></li>
            <li><a href="#contacts">Contact</a></li>
        </ul>
    </nav>
</div>
