<div class="nav">
    <div class="nav-links">
        <span class="nav-links-item "><a href="/">Home</a></span>
        <span class="nav-links-item "><a href="#about-me">About</a></span>
        <span class="nav-links-item "><a href="#skills">Skills</a></span>
        <span class="nav-links-item "><a href="#work">Work</a></span>
        <span class="nav-links-item "><a href="#contacts">Contact</a></span>
        
    </div>

</div>

