<div class="nadv", id="navbar">
    <link rel="stylesheet" href="/css/index.css"/>
        <div class="nav-list">
            <span class="sp"><a href="#about-me">About</a></span>
            <span class="sp"><a href="#skills">Skills</a></span>
            <span class="sp"><a href="#work">Work</a></span>
            <span class="sp"><a href="#contacts">Projects</a></span>
            <span class="sp"><a href="#contacts">Contact</a></span>
        </div>
</div>
    <!--
        <script>
        window.onscroll = function() {myFunction()};

        var navbar = document.getElementById("navbar");
        var sticky = navbar.offsetTop;

        window.onscroll = function(){
            if(window.pageYOffset >= sticky){
                navbar.classspanst.add('sticky');
            }
            else{
                navbar.classList.remove('sticky');
            }
        }
    </script>
    -->
    

