<div class="nav">
    <div class="nav-links">
        <span class="nav-links-item "><a href="/">Home</a></span>
        <span class="nav-links-item "><a href="#about-me">About</a></span>
        <span class="nav-links-item "><a href="#skills">Skills</a></span>
        <span class="nav-links-item "><a href="#work">Work</a></span>
        <span class="nav-links-item "><a href="#contacts">Contact</a></span>
        
    </div>
    
</div>

    <!--
        <script>
        window.onscroll = function() {myFunction()};

        var navbar = document.getElementById("navbar");
        var sticky = navbar.offsetTop;

        window.onscroll = function(){
            if(window.pageYOffset >= sticky){
                navbar.classspanst.add('sticky');
            }
            else{
                navbar.classList.remove('sticky');
            }
        }
    </script>
    -->
    

