<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/index.css"/>
        <title>Udisha Chaudhary</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <%-include('layouts/nav.ejs') -%>

        <section class="hero">
            <div class="heading-div">
                <h1>
                    Hello. I'm Udisha
                </h1>
                <h2>
                    And so far this is my journey in tech...
                </h2>
            </div>
            <div class="socials">
                <img>
                <img>
            </div>
        </section>



        <section class="hero">
            <div class="about-outerbox-div">
                   <h2 class="about-h2">
                    About me
                    </h2>
                    <p class="about-p">
                        I am a Software Engineer who. I have always been a Computer Science Student since my High School and from that my 
                        passion for coding has only grown bigger. I aspire to become a Full Stack Engineer in future. I love problem solving
                        and therefore I can be seen engaing on Leetcode. Apart from Coding I love travelling.
                    </p>
                </div>
            </div>     
        </section>



        <section class="hero">
            <div class="vertical-div-right">
            </div>
            <div class="vertical-div">
            </div>
        </section>


        
        <%-include('layouts/footer.ejs') -%>
    </body>

</html>
