<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/index.css"/>
        <title>Udisha Chaudhary</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <%-include('layouts/nav.ejs') -%>

        <section class="dashboard">
            <div class="heading-div">
                <h1>
                    Hello. I'm Udisha.
                </h1>
                <h2 class="tagline">
                    And this is my journey in tech
                </h2>
            </div>

        </section>



        <section class="sub-section" id="about-me">
            <div class="outer-div">
                <div class="about-inner-container">
                    <h2>
                        About me
                    </h2>
                        <p class="about-p">
                            I am a Software Engineer who. I have always been a Computer Science Student since my High School and from that my 
                            passion for coding has only grown bigger. I aspire to become a Full Stack Engineer in future. I love problem solving
                            and therefore I can be seen engaing on Leetcode. Apart from Coding I love travelling.
                        </p>
                </div>
                   
                </div>
            </div>     
        </section>



        <section class="sub-section" id="skills">
            <div class="outer-div">
                    <h2>
                        Skill Set
                    </h2>
                    <div class="skills-wrapper">
                        <span>Python</span>
                        <span>SQL</span>
                        <span>HTML</span>
                        <span>CSS</span>
                        <span>Javascript</span>
                        <span>NodeJS</span>
                        <span>Express</span>
                        <span>Flask</span>
                        <span>Google BigQuery</span>
                        <span>Basic Statistics</span>
                        <span>Github</span>
                        <span>Jenkins</span>
                        <span>Kubernetes</span>
                        <span>Jira</span>
                    </div>
                </div>
            </div>     
        </section>



        <section class="sub-section">
            <div class="outer-div">
                <div class="exp-inner-container">
                    <h3>
                        THG - The Hut Group, Manchester, England
                    </h3>
                    <p>
                        (Sep 2022 ~ Oct 2023)
                    <p>
                        <p class="about-p">
                            Collaborated seamlessly with cross-functional teams, including Product Managers, UI/UX designers, Machine
                            Learning and Elastic Search team, and other stakeholders such as site executives to run A/B tests on live
                            websites like Myprotein, Cult Beauty, etc. <br><br>

                            Contributed to significant revenue growth through A/B testing, resulting in an additional revenue of ~10 million
                            GBP. <br><br>
            
                            Developed new features and functionalities for a Python-based software application designed to run data
                            analysis on A/B tests and generate HTML-format reports.<br><br>

                            Enhanced application robustness by implementing unit and integration tests, fixing bugs and resolving backlog
                            issues. <br><br>

                            Optimised and refactored SQL queries to extract, process and efficiently store raw data from sites in BigQuery.
                            Ensured the integration and testing of all software developments using platforms like Jenkins and GitHub.<br><br>

                            Managed the orchestration of containerised applications on Kubernetes using k9s and Kibana logs.<br><br>

                            Delivered multiple in-depth analyses using Jupyter notebooks to meet stakeholders’ demands.
                        </p>
                </div>
            </div>
            <h2>
                Education
            </h2><br>
            <div class="outer-div">
                <div class="container">
                    <div class="inner-container">
                        <p class = "unis-name">
                            Trinity College Dublin, MSc Computer Science - Data Science
                        </p>
                    </div>
                </div>
                <div class="container">
                    <div class="inner-container">
                        <p class="unis-name">
                            University of Delhi, BSc(H) Computer Science
                        </p>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="sub-section">


        </section>
        
                    
        <%-include('layouts/footer.ejs') -%>

        
    </body>
</html>
