<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/index.css"/>
        <title>Udisha Chaudhary</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <%-include('layouts/nav.ejs') -%>

        <section class="hero">
        </section>
    </body>

</html>
