*{
    color:rgb(225, 233, 246);
}


body {
    background: repeating-radial-gradient(circle, #fff, #fff 5px, #000 6px);
    background-size: 50px 100px;
    background-image: url('/images/bg.jpg');
    /*background-image: linear-gradient(144deg,#174c67, #3e2481 50%,#38d3de);*/
    background-size: cover; /* This property ensures the background image covers the entire container */
    background-position: center; /* This property centers the background image within the container */
    background-repeat: repeat;
    font-family: "Lora", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.top-nav{
    background-color: #8e86a03d;
    border-radius: 2em;
    width: 47%;
    height:55px;
    margin: auto;
    display: flex;
    align-items: center;
    margin-top: 15px;

}

ul {
    width: 185%;
    margin: auto;
    list-style: none;
    font-size: 19px;
    display: flex;
    justify-content: space-around /*we want to space out exactly in between each item */

}

li {
    text-decoration: none; /* to remove underlining of links */
}

a {
    justify-content: space-between;
    text-decoration: none;
}


.dashboard { /* starts with "." to mark it as a class */
    height: 45vh; /* vh means view port height to mark that we need height of the section = to the full screen */
}

.heading-div{
    width: 700px;
    margin: auto;
    margin-top: 200px;
}   

h1{
    font-size:65px;
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
    margin-bottom: 5px;
    color: white;
}

.tagline{
    font-size:37px;
    display: flex;
    justify-content: center;
    font-family:sans-serif;
    font-weight: normal;
}


/*--------------------------------------------About-------------------------------------------*/

.about{
    height: 40vh;
}

.about-container-div{
    width: 70%;
    margin: auto;
    border-radius: 1em 1em 1em 1em;
    padding: 15px;
    display: flex;
}

.about-inner-container{
    flex-grow: 2;
    text-align: center;
}

h2{
    font-size: 32px;
    justify-content: center;
    font-family:sans-serif;
    font-weight: normal;

}


.about-p{

    text-align: left;
}


/*--------------------------------experience-----------------------------*/

h3{
    font-size: 25px;
    font-weight: 50;
}

.exp-container-div{
    width: 70%;
    margin: auto;
    border-radius: 1em 1em 1em 1em;
    padding: 15px;
    display: flex;
    border: 2px dotted #3ab2ae96;
}

.exp-inner-container{
    justify-content: center;
    margin-right: 20%;
}





/*--------------------------------footer------------------------------*/

.socials-div{
    display: flex;
    width:500px;
    margin: auto;
    justify-content: space-around;
    margin-bottom: 100px;
}

.logos {
    height: 60px;
}


@media only screen and (max-width:2000px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
    }
}